html {
    margin: 0;
    overflow-x: hidden;
}

body {
    /*font-family: system-ui, -apple-system, Roboto, 'Segoe UI', BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    */
    font-family: "Spirax";
    display: flex;
    margin: 0;
    flex-direction: column;
    overflow-x: hidden;
}   

/* Section 1 */

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 30px;
    bottom: 30px;
    left: 215px;
    right: 215px;
    backdrop-filter: blur(8px);
    background-color: #8b592bc5;
    border: 2px solid #8b5a2b;
    border-radius: 8px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(0, 0, 0);
    z-index: 10;
}

.sec1container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #cccccc;
}

.links.left h3{
    padding-right: 24px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 18px;
}

.links a {
    font-size: 20px;
    color: #cccccc;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: normal;
    gap: 18px;
    text-decoration: none;
}

/* Section 2 */

.section2 {
    display: flex;
    width: 100%;
    min-height: 800px;
    justify-content: center;
    align-items: center;
    background-color: #1f29373b;
    background: url('images/4k_fantasy_landscape.jpg'); /* attribute to https://www.reddit.com/user/Goosephat/ */
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
}

.sec2container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    min-height: 495px;
    gap: 50px;
}

.herobox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-shadow: 0 0 20px rgb(0, 0, 0);
    color: #cccccc;
    width: 50%;
    gap: 12px;
}

.heroheader {
    font-size: 64px;
    font-weight: 900;
}

.herotext {
    font-size: 24px;
}

.herobutton {
    display: flex;
    border-radius: 8px;
    border: 2px solid #be7937;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    backdrop-filter: blur(4px);
    color: #cccccc;
    font-weight: bold;
    font-size: 18px;
    width: 140px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 12px;
}

.sec2container p {
    border: 6px solid #8b5a2b;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    height: 405px;
}

/* Forest Box overflow */

.forestbox {
    position: relative;
    color: #cccccc;
    background: url('images/thick_and_lush_forest2.jpg');
    background-size: cover;
    background-position: center;
    overflow: visible;
    z-index: 0;
}

/* Classes section */
.section3 {
    display: flex;
    position: relative;
    flex-direction: column;
    color: #cccccc;
    border: 6px solid #8b5a2b;
    /*background: url('images/thick_and_lush_forest2_processed.jpg');*/
    background-size: cover;
    background-position: top;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    overflow: hidden;
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.classheader {
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 900;
    min-height: 50px;
    z-index: 1;
}

.classesbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 48px;
    min-height: 350px;
    z-index: 1;
}

.class {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-direction: column;
    gap: 8px;
    z-index: 1;
}

.class p {
    text-align: center;
    margin: 0;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.class a img {
    border: 4px #be7937 solid;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    border-radius: 16px;
    z-index: 1;
}

.class .desc {
    width: 160px;
    text-align: center;
    font-weight: bolder;
    z-index: 1;
}

.section3::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
    z-index: -1;
}

/* Green filter over the background image */
.section3::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(66, 66, 66, 0.295);
    border-radius: 20px;
    z-index: 0;
}

.section3 .corner {
    position: absolute;
    width: 100px;
    min-height: 105px;
    z-index: 1;
}
/*
.section3 .corner.top-left {
    top: 0px;
    left: 0px;
    background-image: url("images/ornate-frame-top-left.png");
    background-size: cover;
}
  
.section3 .corner.top-right {
    top: 0px;
    right: 0px;
    background-image: url("images/ornate-frame-top-right.png");
    background-size: cover;
}
  
.section3 .corner.bottom-left {
    bottom: 0px;
    left: 0px;
    background-image: url("images/ornate-frame-bottom-left.png");
    background-size: cover;
}
  
.section3 .corner.bottom-right {
    bottom: 0px;
    right: 0px;
    background-image: url("images/ornate-frame-bottom-right.png");
    background-size: cover;
}
*/

/* Quote */
.section4 {
    display: flex;
    width: 100%;
    position: relative;
    background: url("images/foliage-texture-V2-blurred.png") repeat;
    background-size: cover;
    flex-direction: column;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 25px rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0); 
    z-index: 2;
}

.section4::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
}

.section4::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(75, 83, 1, 0.363);
    z-index: 1;
}

.sec4container {
    display: flex; 
    flex-direction: column;
    width: 70%;
    color: #cccccc;
    z-index: 1;
    margin: 0;
}

.section4 h1 {
    font-style: italic;
    font-weight: lighter;
    font-size: 40px;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}

.section4 h2 {
    display: flex;
    justify-content: end;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 0;
}

/* Call to action */

.section5 {
    display: flex;
    min-height: 400px;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 6px solid #8b5a2b;
    /*background: url("images/foliage-texture-V2.png") repeat;*/
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
}

.actionbox {
    display: flex;
    border-radius: 8px;
    border: #8b5a2b solid 4px;
    background-color: #462d1594;
    backdrop-filter: blur(4px);
    color: #cccccc;
    width: 800px;
    min-height: 150px;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    gap: 24px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

/*
.actionbox::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
}

.actionbox::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.411);
    z-index: 0;
}
*/

.actiontext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    z-index: 1;
}

.actiontext h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.actiontext h2 {
    font-size: 18px;
    font-weight: lighter;
    text-shadow: 0 0 5px rgb(0, 0, 0);
    margin: 0;
}

.actionbox a {
    display: flex;
    position: relative;
    border-radius: 8px;
    color: #cccccc;
    border: 2px solid #8b5a2b;
    backdrop-filter: blur(8px);
    font-weight: bold;
    font-size: 18px;
    width: 140px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    z-index: 9999;
}

/* Socials link */

.section6 {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    background: url("images/gravel-V2.jpeg");
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    align-items: center;
    background-color: #8b5a2b;
    color: #cccccc;
    min-height: 200px;
}

.section6::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    z-index: -1;
}

.section6::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.329);
    z-index: 0;
}

.sec6container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;

}

.sec6container h3 {
    margin: 0;
    border: #8b5a2b solid 4px;
    background-color: #6e4825b4;
    border-radius: 8px;
    padding: 8px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    color: #cccccc;
    z-index: 1;
}

.socialsbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 1;
}

.socialsbox a {
    display: flex;
    border: #8b5a2b solid 4px;
    background-color: #6e482554;
    backdrop-filter: blur(2px);
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
    width: 60px;
    min-height: 60px;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

.socialsbox a img {
    width: 40px;
    min-height: 40px;
}

/* Footer */

.section7 {
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: #cccccc;
    background-color: #8b5a2b;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}
